.contact {
  width: 100%;

  max-width:
    calc(var(--svw) * 100);

  overflow: hidden;

  min-height:
    calc(var(--lvh) * 100);

  padding:
    var(--space-outer);

  padding-top:
    var(--space-lg);
}


.contact-content {
  position: relative;

  padding-top:
    var(--space-md);

  grid-column:
    1 / 13;

  display: flex;

  flex-direction: column;

  gap:
    var(--space-md);
}


.contact-title {
  font-weight: 900;

  letter-spacing: 0.02em;

  font-size:
    var(--font-size-title-md);

  margin: 0;
}


@media (min-width: 480px) {
  .contact-content {
    grid-column:
      1 / 8;
  }

  .contact-title {
    font-size:
      var(--font-size-title-lg);
  }
}


@media (min-width: 768px) {
  .contact {
    padding-top:
      var(--space-xxl);
  }

  .contact-content {
    gap:
      var(--space-xl);

    grid-column:
      1 / 6;

    padding-top:
      var(--space-lg);
  }
}


@media (min-width: 1024px) {
  .contact-content {
    grid-column:
      2 / 6;
  }
}


@media (min-width: 1600px) {
  .contact-title {
    font-size:
      var(--font-size-title-xl);
  }
}