.button-round {
  display: flex;

  align-items: center;

  justify-content: center;

  aspect-ratio: 1;

  border-radius: 50%;

  &-size {
    &-sm {
      width: 32px;

      padding: 6px;
    }

    &-md {
      width: 44px;

      padding: 10px;
    }

    &-lg {
      width: 52px;

      padding: 14px;
    }
  }
}