.header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  left: 50%;

  transform: translateX(-50%);

  width: var(--breakpoint-xxxl);

  padding: 0 var(--space-outer);

  max-width: 100%;

  z-index: var(--z-index-header);

  height: var(--height-header);

  pointer-events: none;

  --scrolled: 0;

  &-scrolled {
    --scrolled: 1;
  }

  &-back {
    pointer-events: none;

    opacity: 0;

    transition:
      opacity 0.2s ease-in-out;

    transition-delay: 0.1s;

    pointer-events: auto;

    &-icon {
      width: 100%;

      transform:
        rotate(180deg);
    }

    &-isProjectPage {
      pointer-events: auto;

      opacity: 1;
    }
  }

  &-left {
    position: absolute;

    left: var(--space-outer);

    top: 50%;

    transform:
      translateY(-50%);
  }

  &-get-in-touch {
    width: fit-content;

    &-isProjectPage {
      opacity: 1 !important;
    }
  }

  &-right {
    position: absolute;

    right: var(--space-outer);

    top: 50%;

    transform:
      translateY(-50%);

    pointer-events: auto;

    display: flex;

    align-items: center;

    gap: var(--space-sm);
  }

  &-music-toggle {
    display: flex;
  }

  &-dark {
    color:
      var(--color-white-400);

    --icon-color:
      var(--color-white-400);
  }

  &-get-in-touch {
    display: none;

    @include mixins.mq("md") {
      display: flex;
    }
  }

  &-logo {
    cursor: pointer;

    display: flex;

    gap: var(--space-xs);

    transition:
      color 0.2s ease-in-out;

    opacity: var(--scrolled);

    pointer-events: none;

    &-clickable {
      pointer-events: all;
    }

    @include mixins.mq("md") {
      gap: var(--space-sm);
    }

    &-isProjectPage {
      transition:
        opacity 0.2s ease-in-out;

      pointer-events: none;

      opacity: 0;
    }

    &-image {
      width: 36px;

      @include mixins.mq("md") {
        width: 40px;
      }
    }

    &-text {
      font-weight: 900;

      font-size: 18px;

      @include mixins.mq("md") {
        font-size: 20px;
      }
    }
  }
}