.hologram-box {
  position: relative;

  will-change: clip-path;
}

.hologram-box-content {
  padding-top:
    calc(
      var(--space-sm) -
      var(--radius-md)
    );

  width: 100%;

  border:
    var(--stroke-md)
    solid
    var(--color-cyan-400);

  position: relative;

  border-radius:
    0
    0
    var(--radius-md)
    var(--radius-md);

  border-top-width: 0;

  background:
    linear-gradient(
      to bottom,
      var(--color-hologram-top)
      0%,
      var(--color-hologram-bottom)
      95%
    );

  font-size:
    var(--font-size-md);

  line-height:
    var(--line-height-copy);
}

.hologram-box-curve {
  padding-bottom:
    var(--radius-md);

  max-width: 43px;

  display: flex;

  justify-content: center;

  position: relative;
}

.hologram-box-curve::after {
  content: "";

  position: absolute;

  bottom:
    var(--stroke-md);

  left: -1px;

  width:
    calc(100% + 2px);

  height:
    var(--radius-md);

  background-color:
    var(--color-hologram-top);

  z-index: -1;
}

.hologram-box-curve-svg {
  overflow: visible;

  min-width: 51px;

  height: 34px;

  z-index: 2;
}

.hologram-box-curve-fill {
  fill:
    var(--color-hologram-top);
}

.hologram-box-curve-path {
  stroke:
    var(--color-cyan-400);

  stroke-width:
    var(--stroke-md);
}

.hologram-box-header {
  width: 100%;

  display: flex;

  flex-direction: row;

  align-items: flex-start;

  height:
    calc(
      var(--radius-md) +
      34px -
      var(--stroke-md)
    );

  position: relative;

  top: 1px;

  z-index: -1;
}

.hologram-box-header-title {
  font-weight: 400;

  text-transform: uppercase;

  letter-spacing: 0.02em;

  white-space: nowrap;
}

.hologram-box-header-content {
  border-radius:
    var(--radius-md)
    0
    0
    0;

  border:
    var(--stroke-md)
    solid
    var(--color-cyan-400);

  border-bottom-width: 0;

  border-right-width: 0;

  width: fit-content;

  height: 100%;

  padding:
    var(--space-xxs)
    var(--space-sm);

  background-color:
    var(--color-hologram-top);
}

.hologram-box-header-notch-right {
  position: relative;

  align-self: flex-end;

  width: 100%;

  height:
    var(--radius-md);

  border:
    var(--stroke-md)
    solid
    var(--color-cyan-400);

  border-left-width: 0;

  border-bottom-width: 0;

  border-radius:
    0
    var(--radius-md)
    0
    0;

  background-color:
    var(--color-hologram-top);

  z-index: -2;
}

.hologram-box-footer {
  position: absolute;

  bottom: 0;

  right:
    var(--space-md);

  transform:
    translate(0, 100%);

  width: 96px;
}

.hologram-box-footer-path {
  fill:
    var(--color-cyan-400);
}

.hologram-box-footer-svg {
  overflow: visible;
}


@media (min-width: 768px) {
  .hologram-box-content {
    font-size:
      var(--font-size-lg);

    padding-top:
      calc(
        var(--space-md) -
        var(--radius-md)
      );
  }

  .hologram-box-header-content {
    padding:
      var(--space-xxs)
      var(--space-md);
  }
}