.imageText-image {
  position: relative;

  display: flex;

  align-items: center;

  justify-content: center;

  grid-row: 1;

  grid-column:
    1 / 13;
}

.imageText-image-content {
  overflow: hidden;

  border-radius:
    var(--radius-lg);
}

.imageText-image-content-border {
  border:
    var(--stroke-md)
    solid
    var(--color-grayscale-400);
}

.imageText-content {
  width: 100%;

  min-height: 100%;

  display: flex;

  align-items: center;

  grid-row: 2;

  grid-column:
    1 / 13;
}

@media (min-width: 840px) {
  .imageText-image-left,
  .imageText-content-left {
    grid-column:
      1 / 7;
  }

  .imageText-image-right,
  .imageText-content-right {
    grid-column:
      7 / 13;
  }

  .imageText-content {
    grid-row: 1;
  }
}

@media (min-width: 1024px) {
  .imageText-image-left,
  .imageText-content-left {
    grid-column:
      2 / 7;
  }

  .imageText-image-right {
    grid-column:
      7 / 12;
  }

  .imageText-content-right {
    grid-column:
      7 / 11;
  }
}