.text {
  line-height: var(--line-height-copy);
  grid-column: 1 / 13;

  @include mixins.mq("md") {
    grid-column: 3 / 11;
  }

  @include mixins.mq("lg") {
    grid-column: 4 / 10;
  }

  &-with-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  &-title {
    font-size: var(--font-size-title-sm);
    line-height: var(--line-height-title);
  }
}
